header
  .nav-bar.nav-down

    ul.nav-list
      li.logo: a(href="/") Roy Ledford
      li.navbutton: a(href="/") Who
      li.navbutton.active: a(href="{{ baseurl }}/projects.html") Work
      li.navbutton: a(href="{{ baseurl }}/posts.html") Write

      
