section.posts
  
  main.posts-wrap
    ul
      |{% for post in site.posts %}
      |  <li>
      |    <article class="post">
      |      <header>
      |        <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
      |        <time pubdate="pubdate" class="post-date">{{ post.date | date_to_string }}</time>
      |      </header>
      |      <p class="post-excerpt">
      |        {% if post.content contains '<!--excerpt.start-->' and post.content contains '<!--excerpt.end-->' %}
      |        	{{ ((post.content | split:'<!--excerpt.start-->' | last) | split: '<!--excerpt.end-->' | first) | strip_html }}
      |        {% else %}
      |        	{{ post.content | strip_html | truncatewords: 60 }}
      |        {% endif %}
      |      </p>
      |    </article>
      |  </li>
      |{% endfor %}



  
  
