section#speedetab
  article.wrapper
    .headline
      h1 SpeedETab
      h2 Front End Development
    hr
    .copy.overview-copy
      p.
        #[a(href='http://speedetab.com') SpeedETab] provides branded mobile applications to merchants
        for online ordering. I was the lead developer of the main marketing site.
      p.
        The client provided the initial design and assets for development. As this is satic site it
        was built using straight html and css.

    img(class="img-1" src="/assets/img/work-speedetab/home.jpg" alt="SpeedETab marketing page screenshot")
    img(class="img-2" src="/assets/img/work-speedetab/merchants-2.jpg" alt="SpeedETab marketing page screenshot")
    img(class="img-3" src="/assets/img/work-speedetab/integrate.jpg" alt="SpeedETab marketing page screenshot")
    img(class="img-4" src="/assets/img/work-speedetab/merchants-1.jpg" alt="SpeedETab marketing page screenshot")
