section#todo
  article.wrapper
    .headline
      h1 Project Todo app in React Challenge
      h2 Web Design / Front End Development
    hr
    .copy.overview-copy
      p.
        #[a(href='http://www.royledford.com/project-todo-react/') Todo app challenge] was completed as a challenge to
        build a functional app in react in 8 hours. Although it is a simple todo, an extra feature was added to
        create a top level project that contains the todos.
      p.
        There is no data storage in the app as that was beyond the scope of the project. All changes in the app
        are stored in state while the app is running.
      p.
        The source code is available on #[a(href='https://github.com/royledford/project-todo-react') github]
    .copy.copy-section-1
      h3 Technology.
      p.
        Built using create-react-app and hosted on GitHub pages. The progress gauge uses inline-svg.
        Design as a mobile first app to limit time spent on building responsive styling.
    img(class="img-1" src="/assets/img/work-todo/todo-home.jpg" alt="Todo home screenshot")
    img(class="img-2" src="/assets/img/work-todo/todo-task.jpg" alt="Todo task screenshot")
    img(class="img-3" src="/assets/img/work-todo/todo-meter.jpg"  alt="Todo meter screenshot")
