section#projects
  
  .content
    h1 Recent Work
    
    .grid
      figure.project-card
        img(src="/assets/img/work-thumbs/sonic-thumb.jpg")
        figcaption
          .project-info
            h2.title Sonic Quiver
            p.description Web Design / Web development
            a(href="#")
                      
      figure.project-card
        img(src="/assets/img/work-thumbs/ducati-thumb.jpg")
        figcaption
          .project-info
            h2.title PZA Parlour
            p.description Product Design
            a(href="#")
                      
      figure.project-card
        img(src="assets/img/work-thumbs/salut-thumb1.jpg")
        figcaption
          .project-info
            h2.title Salut
            p.description Design / Full Stack Development
            a(href="#")
                      
      figure.project-card
        img(src="/assets/img/work-thumbs/sonic-thumb.jpg")
        figcaption
          .project-info
            h2.title Sonic Quiver
            p.description Web Design / Web development
            a(href="#")
                      
      figure.project-card
        img(src="/assets/img/work-thumbs/ducati-thumb.jpg")
        figcaption
          .project-info
            h2.title PZA Parlour
            p.description Product Design
            a(href="#")
                      
      figure.project-card
        img(src="assets/img/work-thumbs/salut-thumb1.jpg")
        figcaption
          .project-info
            h2.title Salut
            p.description Design / Full Stack Development
            a(href="#")
                      




  
  
