
section#projects

  .content
    h1 Recent Work

    .grid
      //- figure.project-card
      //-   img(src="/assets/img/work-thumbs/sonic-thumb.jpg")
      //-   .project-info
      //-     h2.title Sonic Quiver
      //-     p.description Web Design / Web development
      //-     a(href="/project-pages/project-sonic.html").project-link

      figure.project-card
        img(src="assets/img/work-thumbs/sonic-thumb.jpg")
        figcaption
          .project-info
            h2.title Sonic Quiver
            p.description Design / Front End Development
            a(href="/project-pages/project-sonic.html").project-link

      figure.project-card
        img(src="assets/img/work-thumbs/speedetab-thumb.jpg")
        figcaption
          .project-info
            h2.title SpeedETab
            p.description Front End Development
            a(href="/project-pages/project-speedetab.html").project-link

      figure.project-card
        img(src="assets/img/work-thumbs/reactsvgmeters-thumb.jpg")
        figcaption
          .project-info
            h2.title React SVG Meters
            p.description Design / Front End Development
            a(href="/project-pages/project-reactsvgmeters.html").project-link

       figure.project-card
        img(src="assets/img/work-thumbs/mytime-thumb.jpg")
        figcaption
          .project-info
            h2.title My Investment Time
            p.description Design / Front End Development
            a(href="/project-pages/project-mytime.html").project-link

      figure.project-card
        img(src="assets/img/work-thumbs/fashionlogin-thumb.jpg")
        figcaption
          .project-info
            h2.title Fashion Login
            p.description Design / Front End Development
            a(href="/project-pages/project-fashionlogin.html").project-link

      figure.project-card
        img(src="assets/img/work-thumbs/todo-thumb.jpg")
        figcaption
          .project-info
            h2.title Todo in React
            p.description Design / Front End Development
            a(href="/project-pages/project-todo.html").project-link

      figure.project-card
        img(src="assets/img/work-thumbs/salut-thumb.jpg")
        figcaption
          .project-info
            h2.title Salut
            p.description Design / Full Stack Development
            a(href="/project-pages/project-salut.html").project-link

      figure.project-card
        img(src="/assets/img/work-thumbs/ducati-thumb.jpg")
        figcaption
          .project-info
            h2.title PZA Parlour
            p.description Product Design
            a(href="/project-pages/project-pza.html").project-link








