section#fashion
  article.wrapper
    .headline
      h1 Fashion Login Flow Study
      h2 Web Design / Front End Development
    hr
    .copy.overview-copy
      p.
        #[a(href='http://www.royledford.com/fashion-login-form/') Fashion Login] is a study in applying
        micro-animations to a login / sign up form. The overall goal was to both improve the user experience
        and to help inform them of incorrect entries in the form controls.
      p.
        Special attention was paid to the informational messages displayed on validation of the form controls.
        A slight shake was added to the input and a color coordinated message displayed to help the user understand
        the entered information required their attention.
      p.
        The source code is available on #[a(href='https://github.com/royledford/fashion-login-form') github]
    .copy.copy-section-1
      h3 Technology.
      p.
        The study is built using react and react-router. A custom HOC was used to manage transitions between routed pages.
        The HOC uses ReactCssTransitions to control enter and leave animations.
    img(class="img-1" src="/assets/img/work-fashionlogin/signup-email.jpg" alt="Fashion Login screenshot")
    video(class="img-2" src="/assets/img/work-fashionlogin/email.mp4" autoplay loop)
    video(class="img-3" src="/assets/img/work-fashionlogin/password.mp4" autoplay loop)
