section#salut
  article.wrapper
    .headline
      h1 Salut
      h2 Full Stack Development
    hr
    .copy.overview-copy
      p Salut is a mobile first web application that allows the user to randomly choose an alcoholic beverage or shot. The app will randomly choose a drink and display a recipe.
    .copy.copy-section-1
      h3 MERN Stack
      p Responsible for full stack development overall product development and design.
    img(class="img-1" src="/assets/img/work-salut/home-screen.jpg" alt="Salut application home screen shot")
    img(class="img-2" src="/assets/img/work-salut/salut-thumb.jpg" alt="Salut application landing page screen shot")
    img(class="img-3" src="/assets/img/work-salut/drink-screen.jpg" alt="Salut screen shot of typical drink page")
    
    
    
