nav#topLandingNav
  .landing-nav
    .close-icon: a(href="javascript:void(0);" onclick="toggleMobileNav()")
      i.fa.fa-times.fa-2x
    .navbutton: a(href="#who").nav-link Who
    .navbutton: a(href="#work").nav-link Work
    .navbutton: a(href="#write").nav-link Write
        
        
