section.home-blog
  .flex.flex--center
    .blog-column
      h1.title Blog Posts
      
      .blog-wrap
        h4.blog-title This is a blog title
        p.blog-date Jan 20, 2017
        
      .blog-wrap 
        h4.blog-title This is a blog title
        p.blog-date Jan 20, 2017
        
      .blog-wrap
        h4.blog-title This is a blog title
        p.blog-date Jan 20, 2017

      
      .align-center
        a.link-brackets(href="#") See More
