section#home-work.home-work
  .flex.flex--center
  
    .col-320
      a(href="" style="background-image: url(/assets/img/work-thumbs/sonic-thumb.jpg)").work-thumb
        .work-meta
          .name Sonic Quiver
          .description Web Design
    
    .col-320
      a(href="" style="background-image: url(/assets/img/work-thumbs/ducati-thumb.jpg)").work-thumb
        .work-meta
          .name Lucid Customs
          .description Branding / Design
    
    .col-320.hide-on-mobile
      a(href="" style="background-image: url(/assets/img/work-thumbs/salut-thumb.jpg)").work-thumb
        .work-meta
          .name Salut!
          .description Web Design / App Development
