section#home-work.home-work
  h1.title Recent Work
  
  .flex
    .work-wrap
      .col-320
        a(href="" style="background-image: url(/assets/img/work-thumbs/sonic-thumb.jpg)").work-thumb
          .work-meta
            .name Sonic Quiver
            .description Web Design
      
      .col-320
        a(href="" style="background-image: url(/assets/img/work-thumbs/ducati-thumb.jpg)").work-thumb
          .work-meta
            .name Lucid Moto Co
            .description Branding / Design
      
      .col-320.hide-on-mobile
        a(href="" style="background-image: url(/assets/img/work-thumbs/salut-thumb.jpg)").work-thumb
          .work-meta
            .name Salut!
            .description Web Design / App Development

  .align-center
    a.link-brackets(href="#") See More
