section#landing.landing-main
  .landing-wrap
    .icon: a(href="javascript:void(0);")
      i.fa.fa-ellipsis-h.fa-2x.show-icon-link
    h1.lead.center-vertical Roy Ledford

section#who
  .landing-wrap
    .icon: a(href="javascript:void(0);")
      i.fa.fa-ellipsis-h.fa-2x.show-icon-link
    .hero-image
    h1.lead Who I am
    .copy
      p I'm a Front-End Developer with an extensive background in Management and Software Development.
      p I have a talent for organizing difficult projects, problem solving, simplifying procedures, and finding innovative solutions to complex problems. Demonstrated excellent verbal and written skills and can convey deep technical issues to any audience.
      p I'm always interested in both freelance and full-time opportunities, please feel free to contact me.
    
    ul.contact
      li Roy Ledford
      li
        a(href="mailto:roy@royledford.com") roy@royledford.com
      li (954) 918 - 3308

    ul.social
      li
        a(href="https://github.com/royledford" title="Github Profile" target="_blank" rel="noopener noreferrer")
          i.fa.fa-github-square.fa-2x
      li
        a(href="https://www.linkedin.com/in/royledford/" title="LinkedIn Profile" target="_blank" rel="noopener noreferrer")
          i.fa.fa-linkedin-square.fa-2x
      li
        a(href="https://twitter.com/Bluesixty" title="Twitter Page" target="_blank" rel="noopener noreferrer")
          i.fa.fa-twitter-square.fa-2x
      li
        a(href="https://codepen.io/bluesixty/" title="CodePen Profile" target="_blank" rel="noopener noreferrer")
          i.fa.fa-codepen.fa-2x
      li
        a(href="assets/documents/resume-roy-ledford.pdf" title="Download Resume" download)
          i.fa.fa-download.fa-2x


section#work
  .landing-wrap
    .icon: a(href="javascript:void(0);")
      i.fa.fa-ellipsis-h.fa-2x.show-icon-link
    p work



section#write
  .landing-wrap
    .icon: a(href="javascript:void(0);")
      i.fa.fa-ellipsis-h.fa-2x.show-icon-link
    p write
