nav#topLandingNav
  .landing-nav
    .close-icon: a(href="javascript:void(0);")
      i.fa.fa-times.fa-2x.close-icon-link
    .navbutton Who
    .navbutton Work
    .navbutton Write
        
        
