section#landing.landing-main
  .landing-wrap
    .menu-icon: a(href="javascript:void(0);")
      i.fa.fa-ellipsis-h.fa-2x.open-icon-link
    h1.lead.center-vertical.landing-text Roy Ledford

section#who
  .landing-wrap
    //- .menu-icon: a(href="javascript:void(0);")
    //-   i.fa.fa-ellipsis-h.fa-2x.open-icon-link
    .hero-image
    h1.lead Who am I?
    .copy
      p I'm a Front-End Developer with an extensive background in Management and Software Development.
      p I have a talent for organizing difficult projects, problem solving, simplifying procedures, and finding innovative solutions to complex problems. Demonstrated excellent verbal and written skills and can convey deep technical issues to any audience.
      p I'm always interested in both freelance and full-time opportunities, please feel free to contact me.
    
    ul.contact
      li Roy Ledford
      li
        a(href="mailto:roy@royledford.com") roy@royledford.com
      li (954) 918 - 3308

    ul.social
      li
        a(href="https://github.com/royledford" title="Github Profile" target="_blank" rel="noopener noreferrer")
          i.fa.fa-github-square.fa-2x
      li
        a(href="https://www.linkedin.com/in/royledford/" title="LinkedIn Profile" target="_blank" rel="noopener noreferrer")
          i.fa.fa-linkedin-square.fa-2x
      li
        a(href="https://twitter.com/Bluesixty" title="Twitter Page" target="_blank" rel="noopener noreferrer")
          i.fa.fa-twitter-square.fa-2x
      li
        a(href="https://codepen.io/bluesixty/" title="CodePen Profile" target="_blank" rel="noopener noreferrer")
          i.fa.fa-codepen.fa-2x
      li
        a(href="assets/documents/resume-roy-ledford.pdf" title="Download Resume" download)
          i.fa.fa-download.fa-2x


section#work
  .landing-wrap
    //- .menu-icon: a(href="javascript:void(0);")
    //-   i.fa.fa-ellipsis-h.fa-2x.open-icon-link
      
    .gallery
      .gallery-col
        .card(style="background-image: url(/assets/img/work-thumbs/sonic-thumb.jpg)")
          a(href="#")
          .screen
          .content
            h2 Sonic Quiver
            p Web Design / Web development
            
        .card(style="background-image: url(/assets/img/work-thumbs/ducati-thumb.jpg)")
          a(href="#")
          .screen
          .content
            h2 PZA Parlour
            p Product Design

        .card(style="background-image: url(/assets/img/work-thumbs/salut-thumb1.jpg)")
          a(href="#")
          .screen
          .content
            h2 Salut
            p Design / Full Stack Development
            
    .vert-link
      .link-container
        a(href="#").link-brackets See More...

section#write
  .landing-wrap
    //- .menu-icon: a(href="javascript:void(0);")
    //-   i.fa.fa-ellipsis-h.fa-2x.open-icon-link
      
    .blog-wrap
      
      .post
        h2 
          a(href="#") Why I love Jade and Sass
        p.date 2017-03-08
        p.copy Jade (or Pug) and Sass are preprocessors for HTML and CSS. If you have ever written either of those you know there is quite a bit of markup required...
        a(href="#") Read More...
      
      .post
        h2 
          a(href="#") Why mobile first design is better.
        p.date 2017-05-15
        p.copy I've read about building mobile first sites and why it is best practice but never really thought about web site design that way. On a recent project, this web site actully, I really began to understand why 'mobile first' is a better strategy...
        a(href="#") Read More...
      
      .post
        h2 
          a(href="#") I switched from Windows to Mac and now life is Awesome!
        p.date 2017-06-12
        p.copy I've been a windows user for more years than I will admit to ;) It was were I started my career and the companies that I worked for were standardized on software that only ran on Windows...
        a(href="#") Read More...
            
    .vert-link
      .link-container
        a(href="#").link-brackets See More...
