$white: #fff
$light-gray: #f2f2f2
$medium-gray: #444
$dark-gray: #222
$black: #111

// $backgrounds: #1e2632

$nav-active: #0f1628
$nav-hover: #87a5ff
$nav-color: #435ea8


// old ones
// TODO: remove before production

$backgrounds: #f2f2f2
$medium-blue: #f2f2f2
$dark-blue: #f2f2f2
$light-blue: #444
