nav
  .landing-nav
    position: absolute
    width: 33%
    height: 100%
    left: 66%

    .navbutton
      position: relative
      height: 33%
      font-family: 'Cabin', sans-serif
      font-weight: 600
      text-align: center
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      &:not(:last-child)::after
        content: ""
        background: $light-gray
        position: absolute
        bottom: 0
        left: 5%
        height: 2px
        width: 95%

      a
        font-size: 8vw
        color: $light-gray


  @media(max-width: 767px)
    .landing-nav
      left: 100%
      background-color: blue

    .landing-nav.show-mobile-nav
      left: 66%
