.home-hero
  height: 600px
  background:
    image: url("/assets/img/car-bg.jpg")
    size: cover
    position: center center

.col-1-center
  margin: auto
  width: 100%
  // padding-top: 10%
    // @media (max-width: 790px)
    //   max-width: 100%

.hero-title
  left: 175px
  top: 170px
  color: white
  font-size: 5em
  margin: 0

  position: relative
  display: block

  @media (max-width: 730px)
    // left: -150px
    font-size: 3em

.lead-in
  left: 300px
  top: 250px
  font-size: 2em
  color: white

  position: relative

  @media (max-width: 730px)
    top: 0px
    font-size: 1.5em
