section.home-work
  overflow: hidden

  .title
    text-align: center
    font-size: 50px
    margin: 0
    padding-bottom: 50px
    color: $medium-blue

  .align-center
      text-align: center
      margin: 0
      padding: 50px

  a
    font-size: 20px

  .col-320
    overflow: hidden

  .work-wrap
    margin: auto
    display: flex
    justify-content: center
    top: 1600px
    position: relative
    transition: all 800ms ease-in-out

    &.launched
      top: 0

    .work-thumb
      position: relative
      display: block
      width: auto
      height: 266px
      background:
        size: cover
      overflow: hidden

    .work-meta
      position: absolute
      background: fade-out($dark-blue, 0.3)
      top: 0
      right: 0
      bottom: 0
      left: 0
      color: white
      padding: 10px
      text-align: center
      transform: translate(0%, 100%)
      transition: all 150ms ease-in-out

      .name
        font-size: 25px

      .description
        font-style: italic

    .work-thumb:hover .work-meta
      transform: translate(0%, 70%)


  @media(max-width: 980px)
    .hide-on-mobile
       position: absolute !important
       top: -9999px !important
       left: -9999px !important

  @media(max-width: 680px)
    .work-wrap
      flex-flow: column
      align-items: center
