.home-work
  .col-320
    background-color: pink
    max-width: 333px

@media(max-width: 960px)
  .hide-on-mobile
     position: absolute !important
     top: -9999px !important
     left: -9999px !important

@media(max-width: 640px)
  .flex
    display: block
