section.home-hero
  height: 600px
  background:
    image: url("/assets/img/car-bg.jpg")
    size: cover
    position: right center

  .col-320
    width: 600px
    margin: 10px
    padding-top: 75px

  .hero-title
    color: white
    font-size: 5em
    // margin-left: -50px

    // @media (max-width: 730px)
      // left: -150px
      font-size: 3em

  .lead-in
    margin: 0
    padding: 50px
    // padding-top: 100px
    // padding-right: 0
    font-size: 1.8em
    text-align: right
    color: white
    // margin-left: 100px
    // width: 400px
    // white-space: nowrap
    //
    // position: relative
    //
    // @media (max-width: 730px)
    //   top: 0px
    //   font-size: 1.5em
