// *
//  border: 1px solid red !important

.home-wrap
  // display: flex
  padding: 0px
  margin: 0px

.home-sections

  section
    padding: 50px 0

.flex
  display: flex

.flex--center
  justify-content: center

//
// Column definitions
//
.col-320
  width: 300px
  margin: 10px

.col-320-center
  max-width: 75%
  padding: 70px 0

.col-266
  width: 266px
  margin: 0 23px

.push-right
  margin-left: 320px

// @media(max-width: 640px)
//   .flex
//     display: block

  .push-right
    margin-left: 10px


.hide
   position: absolute !important
   top: -9999px !important
   left: -9999px !important
