section#write
  position: absolute
  width: $landing-third
  height: 33.3%
  left: $landing-two-thirds
  top: 66%
  background-color: $white
  color: white
  transition: all 300ms ease-in-out
  visibility: hidden
  z-index: 2

  // .landing-wrap
  //   padding: 0
  //   margin: 0
  //   height: 100%

  .post
    margin-top: 50px
    margin: 25px

section#write.show
  top: 0
  left: 0
  height: 100%
  width: $landing-two-thirds
  visibility: visible
  z-index: 3

  .icon
    position: relative
    float: right
    display: none
    z-index: 20

@media(max-width: 767px)
  section#write
    width: 100%
    left: 100%

  .home-wrap section#write .icon
    display: block
    float: right
    margin: 10px

  section#write.show
    left: 0
    height: 100%
    width: 100%

// @media(min-width: 768px)
//   section#write
//     width: 100%
//     left: 100%
//
//   .home-wrap section#write .icon
//     display: block
//     float: right
//     margin: 10px
//
//   section#write.show
//     left: 0
//     height: 100%
//     width: 100%
