.archive-wrap

  max-width: 600px
  margin-left: auto
  margin-right: auto
  padding: 25px 10px
  height: 100%
  text-align: left

  li
    list-style-type: none

  .tag-cloud
    li
      display: inline-block

  .tag-cloud-item
    background-color: $light-gray
    margin-right: 10px
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px
    padding-left: 10px
    text-transform: uppercase

  a
    &:visited
      color: lighten($medium-gray, 20%)

  .tag-count
    background-color: $white
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px
    padding-left: 10px

  .post-list
    margin-top: 15px

  .post-title
    text-transform: capitalize
