section#projects

  .content
    margin: 0 auto
    max-width: 1000px

  h1
    margin-top: 0
    font-size: 30px
    font-weight: 300
    color: lighten($medium-gray, 40%)

  .grid
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    position: relative
    margin: 0 auto
    text-align: center



  figure
  	position: relative
  	overflow: hidden
  	margin: 10px 1%
  	min-width: 233px
  	max-width: 233px
  	max-height: 233px
  	text-align: center
  	cursor: pointer

  .title
  	position: absolute
  	top: 70%
  	left: 0
  	width: 100%
  	color: $medium-gray
  	transition: transform 350ms 0ms, color
  	transform: translate3d(0,-50%,0)

  .description
    position: absolute
    top: 80%
    left: 0
    width: 100%
    line-height: 120%

  img
  	position: relative
  	display: block
  	min-height: 100%
  	max-width: 100%
  	opacity: 0.5

  figcaption
  	padding: 2em
  	color: #fff
  	text-transform: uppercase
  	font-size: 1.25em

  .project-info
    &:before
    	position: absolute
    	top: 0
    	left: 0
    	width: 100%
    	height: 100%
    	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 100%)
    	content: ''
    	opacity: 100




//-----------------------------------
// Show hover effect on gallery thumbs on
// large screens
//-----------------------------------
@media(min-width: 768px)
  section#projects

    img
      opacity: 1

    .title
      top: 90%
      color: $white
      transition: all 400ms ease-in-out

    .description
      top: 80%
      opacity: 0
      transition: all 400ms ease-in-out

    .project-info
      &:before
        transition: all 400ms ease-in-out

    .project-info
      &:before
      	top: 100%
      	opacity: 1
    	  background: linear-gradient(to bottom, rgba(255,255,255,0) 0,rgba(255,255,255,1) 75%)

    .project-card
      &:hover
        .title
          top: 70%
          color: $dark-gray
        .description
          top: 80%
          opacity: 1
        .project-info
          &:before
            top: 0
