<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

        <!-- Fonts -->
        <script src="https://use.fontawesome.com/f340752ddd.js"></script>


    </head>
    <body>

        <div class="site">
          <!-- <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div> -->

          {{ content }}


          <!-- <div class="footer">
            <div class="contact">
              <p>
                GitHub Page<br />
                roy@royledford.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/royledford">github.com/royledford</a><br />
              </p>
            </div>
          </div> -->
        </div>

        <script src="/assets/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/functions.js"></script>
    </body>
</html>
