<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

        <!-- Fonts -->
        <script src="https://use.fontawesome.com/f340752ddd.js"></script>
    </head>
    <body>

        <div class="site">

          {% include header-landing.html %}

          {{ content }}

        </div>

        <!-- <script src="/assets/js/jquery-3.2.1.min.js"></script> -->
        <script type="text/javascript" src="/assets/js/functions.js"></script>
    </body>
</html>
