#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 40px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4000000059604645);
}

.links {
  font-size: 14px;
  text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4000000059604645);
  color: #444;
}

.links a:visited {
  color: #444;
}

.linkedin {
  text-decoration: none;
  color: #444;
}
